*, *:before, *:after {
  box-sizing: border-box;
}

.board-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px;
}

.board-square {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding-bottom: 6px;
  color: white;
  display: flex;
  width: 75px;
  height: 75px;
  background-color: paleturquoise;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}